*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
    
}
body{
    background:url(imgs/tresvias.jpg) no-repeat;
    min-height: 770px;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    background: rgb(133, 133, 133);
    padding: 40px 24px;
    border-radius: 10px;
}

.logozap img{
    width: 50px;
    position: relative;
    
    

}
.inputs{
width: 100%;
margin: 10px 8px;
}
main{
    width: 300px;
    position: relative;
}
h1{
    text-align: left;
}